<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.nymble.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.nymble.servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.nymble.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginTunnelServlet</servlet-name>
        <servlet-class>com.nymble.servlets.LoginTunnelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlockedDomainsServlet</servlet-name>
        <servlet-class>com.nymble.servlets.BlockedDomainsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadFileServlet</servlet-name>
        <servlet-class>com.nymble.servlets.UploadFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadFileServlet</servlet-name>
        <servlet-class>com.nymble.servlets.DownloadFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFileServlet</servlet-name>
        <servlet-class>com.nymble.servlets.DeleteFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <servlet-class>com.nymble.servlets.UpdateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllUsersServlet</servlet-name>
        <servlet-class>com.nymble.servlets.AllUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserBlockedDomServ</servlet-name>
        <servlet-class>com.nymble.servlets.UserBlockedDomServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestSaveServlet</servlet-name>
        <servlet-class>com.nymble.servlets.RequestSaveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveReqServ</servlet-name>
        <servlet-class>com.nymble.servlets.RemoveReqServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnblockUserServlet</servlet-name>
        <servlet-class>com.nymble.servlets.UnblockUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NymbleWebService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginTunnelServlet</servlet-name>
        <url-pattern>/LoginTunnelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlockedDomainsServlet</servlet-name>
        <url-pattern>/BlockedDomainsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFileServlet</servlet-name>
        <url-pattern>/UploadFileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadFileServlet</servlet-name>
        <url-pattern>/DownloadFileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFileServlet</servlet-name>
        <url-pattern>/DeleteFileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <url-pattern>/UpdateAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllUsersServlet</servlet-name>
        <url-pattern>/AllUsersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserBlockedDomServ</servlet-name>
        <url-pattern>/UserBlockedDomServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestSaveServlet</servlet-name>
        <url-pattern>/RequestSaveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveReqServ</servlet-name>
        <url-pattern>/RemoveReqServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnblockUserServlet</servlet-name>
        <url-pattern>/UnblockUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NymbleWebService</servlet-name>
        <url-pattern>/NymbleWebService</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
